AgeCalculatorForm/Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="calculateDays">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="day" type="xs:int" />
        <xs:element minOccurs="0" name="month" type="xs:int" />
        <xs:element minOccurs="0" name="year" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="calculateDaysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="calculateDaysResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>